
<!DOCTYPE html>
<html>
  <head>

    <title>Namabayi</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <script src="https://use.fontawesome.com/2cfb7e51c3.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/slider.css">


    <meta name="theme-color" content="#ffffff">

    <style>
/*      body{
        background-color:#FAFAFA;
      }*/
      @media (min-width: 1200px) {
        .container{
            max-width: 970px;
        }
      }
      .border_top{
        margin-top: 20px;
        border-style: solid;
        border-bottom-width:0;
        border-left-width:0;
        border-right-width:0;
      }
      .hide_icon{
        display:none;
      }
      .k_btn {
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px;
      }
      .k_btn-default {
          color: #444;
          background-color: #fff;
          border-color: #ddd;
      }
      .k_btn-primary {
          color: black;
          /*background-color: #337ab7;*/
          background-color: #e6e6e6;
          border-color: #ccc;
      }

      .k_btn-warning {
          color: #fff;
          background-color: #f0ad4e;
          border-color: #eea236;
      }
      .radio_label{
        font-weight:normal;
      }
      #result_row_shown{
        display:block;
      }
      #result_row_hidden{
        display:none;
      }
      .kpi_title{
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: black;
      }
      .vcenter {
          display: inline-block;
          vertical-align: middle;
          float: none;
      }
      .fa-star {
          color: gold;
/*          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;*/
      }
      .fa-star-half-o {
          color: gold;
/*          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;*/
      }

/*      .stars{
        padding:0px;
      }*/
      #info_icon_trending{
        display:inline;
        vertical-align: super;
        font-size: 0.8em;
      }
      .container.hide{
        display:none;
      }
/*      p {
          display: none;
          background-color: yellow;
          padding: 20px;
      }
      #info_icon_trending:hover p,
      #info_icon_trending:focus p{
          display: block;
      }*/
      #suggestie_h3{
        margin-top: 10px;
      }

      #spinning_wheel {
          position: absolute;
          z-index: 9999;
          top:0;
          left:0;
          height:100%;
          width:100%;
          background-color:rgba(0,0,0,0.1);
      }
      #spinning_wheel .spinner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
      }


    </style>


    <!-- Vue.js -->
    <script src="javascript/vue.js"></script>

  </head>
<!--   <i class="fa fa-search" aria-hidden="true"></i>
  <i class="fa fa-search" aria-hidden="true"></i>
  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
  <i class="fa fa-list-ul" aria-hidden="true"></i> -->
  <body id="app">

    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" v-on:click="activate_page('welcome')">NamaBayi.be</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a v-on:click="activate_page('welcome')">Wat is NamaBayi</a></li>
              <li><a v-on:click="activate_page('lookup')">Zoek</a></li>
              <li><a v-on:click="activate_page('suggest')">Suggesties</a></li>
              <li><a v-on:click="activate_page('list')">Liked names</a></li>
<!--               <li><a v-on:click="activate_page('about')">About</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <div id="spinning_wheel" v-bind:class="{'hide':global_spinning_wheel}">
        <div class="spinner"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
      </div>
    </div>
    <div class="container" v-bind:class="{'hide':active_page['welcome']}">
      <div id="header" class="row">
        <div class="col-xs-12">
          <h3>Wat is Namabayi</h3>
          <p>Namabayi, Indonesisch voor babynaam, helpt je bij kiezen van een naam.</p>
          <p>Je kan <b>statiestieken</b> opzoeken over een naam dat je in gedachten hebt. Of je kan de applicatie zelf <b>suggesties</b> laten doen. Hoe meer suggesties je liked, hoe intelligenter het suggestie mechanisme wordt.</p>
          <p>De statistieken bij de namen zijn zelf berekend en als volgt bepaald:
            <ul>
              <li><b>Origineel</b>: Is de naam vaak gegeven?</li>
              <li><b>Populair</b>: Is de naam vaak gegeven de laatste vijf jaar?</li>
              <li><b>Klassiek</b>: Is de naam populair over alle leeftijden heen?</li>
              <li><b>Vintage</b>: Was de naam populair bij de 65 plussers en erna niet meer?</li>
              <li><b>Trending</b>: Is de populariteit van de naam de laatste jaren aan het stijgen?</li>
            </ul>
          </p>
          <p>Voor suggesties: kasper.vanlombeeek at gmail.com. Veel succes bij de zoektocht naar een leuke naam!</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-xs-12">
          <p style="height:50px;"></p>
        </div>
      </div>
    </div>
    <div class="container" v-bind:class="{'hide':active_page['lookup']}">
      <div id="header" class="row">
          <div class="col-xs-12">
            <h3>Zoek</h3>
            <p>Zoek statistieken van een naam en vergelijk deze met een andere naam.</p><br>
          </div>
          <div class="col-xs-12"><label for="name_1">Welke naam had je in gedachten?</label></div>
          <div class="col-xs-6 col-sm-6">
            <div class="form-group">  
              <input class="form-control" id="name_1" placeholder="Naam" v-model="name_1">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <span v-on:click="lookup_prim_change_sex_to('F')" 
            v-bind:class="{'k_btn k_btn-default':lookup_sex_selection['prim_name']['male_selected'],
                        'k_btn k_btn-primary':lookup_sex_selection['prim_name']['female_selected']}">
                        <i class="fa fa-venus" aria-hidden="true"></i>
            </span>
            <span v-on:click="lookup_prim_change_sex_to('M')"
            v-bind:class="{'k_btn k_btn-default':lookup_sex_selection['prim_name']['female_selected'],
                        'k_btn k_btn-primary':lookup_sex_selection['prim_name']['male_selected']}">
                        <i class="fa fa-mars" aria-hidden="true"></i></span>
          </div>
          <div class="col-xs-12"><label for="name_1">Vergelijk met</label></div>
          <div class="col-xs-6 col-sm-6">
            <div class="form-group">
              <input class="form-control" id="name_2" placeholder="Naam" v-model="name_2">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <span v-on:click="lookup_ref_change_sex_to('F')" 
            v-bind:class="{'k_btn k_btn-default':lookup_sex_selection['ref_name']['male_selected'],
                         'k_btn k_btn-primary':lookup_sex_selection['ref_name']['female_selected']}">
                        <i class="fa fa-venus" aria-hidden="true"></i></span>
            <span v-on:click="lookup_ref_change_sex_to('M')" 
            v-bind:class="{'k_btn k_btn-default':lookup_sex_selection['ref_name']['female_selected'],
                         'k_btn k_btn-primary':lookup_sex_selection['ref_name']['male_selected']}">
                        <i class="fa fa-mars" aria-hidden="true"></i></span>
          </div>
          <!-- Submit button -->
          <div class="col-xs-12">
            <button v-on:click="submit_names" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> Zoek!</button><br>
          </div>
        </div>
      </div>
      <div class="row" style="display:none">
        <!-- region sex buttons -->
        <div class="col-xs-3">
          <label>Regio</label><br>
        </div>
        <div class="col-xs-9">
          <div class="radio-inline">
            <input id="radio_belgie" type="radio" name="region" value="Belgie" v-model="region" checked>
            <label class="radio_label" for="radio_belgie">België</label>
          </div>
          <div class="radio-inline">
            <input id="radio_vlaanderen" type="radio" name="region" value="Vlaanderen" v-model="region">
            <label class="radio_label" for="radio_vlaanderen">Vlaanderen</label>
          </div>
          <div class="radio-inline">
            <input id="radio_brussel" type="radio" name="region" value="Brussel" v-model="region">
            <label class="radio_label" for="radio_brussel">Brussel</label>
          </div>
          <div class="radio-inline">
            <input id="radio_wallonie" type="radio" name="region" value="Wallonie" v-model="region">
            <label class="radio_label" for="radio_wallonie">Wallonië</label>
          </div>
        </div>
    </div>
      <!-- Results section -->
      <!-- *************** -->
    <div class="container" v-bind:class="{'hide':stats_div}">
      <div class="row">
        <div class="col-xs-12">
          <div class="border_top"></div>
        </div>
      </div>
    </div>
    <div class="container" id="lookup_stats_results" v-bind:class="{'hide':stats_div}">
      <div class="row">
        <div class="col-xs-12"><h3>Je naam is</h3></div>
        <!-- Table header -->
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4 text-center">
          <label>{{name_1}}</label> 
          <i class="fa fa-venus" v-bind:class="{'hide_icon':lookup_sex_selection['prim_name']['male_selected']}" aria-hidden="true"></i>
          <i class="fa fa-mars" v-bind:class="{'hide_icon':lookup_sex_selection['prim_name']['female_selected']}" aria-hidden="true"></i>
        </div>
        <div class="col-xs-4 text-center">
          <label>{{name_2}}</label>
          <i class="fa fa-venus" v-bind:class="{'hide_icon':lookup_sex_selection['ref_name']['male_selected']}" aria-hidden="true"></i>
          <i class="fa fa-mars" v-bind:class="{'hide_icon':lookup_sex_selection['ref_name']['female_selected']}" aria-hidden="true"></i>
        </div>
      </div>
        <!-- Score origal -->
        <!-- ************ -->
      <div class="row">  
        <div class="col-xs-4">
          <label>Origineel<label>
        </div>

        <!-- Name 1 -->
        <div class="col-xs-4 stars  text-center">
          <span class="fa" v-bind:class="{'fa-star star_filled':score_original['name_1'][1]['full'],
                                          'fa-star-half-o':score_original['name_1'][1]['half_empty'],
                                          'fa-star-o':score_original['name_1'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_1'][2]['full'],
                                          'fa-star-half-o star_filled':score_original['name_1'][2]['half_empty'],
                                          'fa-star-o':score_original['name_1'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_1'][3]['full'],
                                          'fa-star-half-o':score_original['name_1'][3]['half_empty'],
                                          'fa-star-o':score_original['name_1'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_1'][4]['full'],
                                          'fa-star-half-o':score_original['name_1'][4]['half_empty'],
                                          'fa-star-o':score_original['name_1'][4]['empty']}"></span>
        </div>
        <!-- Name 2 -->
        <div class="col-xs-4 stars  text-center">
          <span class="fa" v-bind:class="{'fa-star':score_original['name_2'][1]['full'],
                                          'fa-star-half-o':score_original['name_2'][1]['half_empty'],
                                          'fa-star-o':score_original['name_2'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_2'][2]['full'],
                                          'fa-star-half-o':score_original['name_2'][2]['half_empty'],
                                          'fa-star-o':score_original['name_2'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_2'][3]['full'],
                                          'fa-star-half-o':score_original['name_2'][3]['half_empty'],
                                          'fa-star-o':score_original['name_2'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_original['name_2'][4]['full'],
                                          'fa-star-half-o':score_original['name_2'][4]['half_empty'],
                                          'fa-star-o':score_original['name_2'][4]['empty']}"></span>
        </div>
      </div>
        <!-- Score popular -->
        <!-- ************* -->
      <div class="row">  
        <div class="col-xs-4">
          <label>Populair<label>
        </div>
        <!-- Name 1 -->
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star star_filled':score_popular['name_1'][1]['full'],
                                          'fa-star-half-o':score_popular['name_1'][1]['half_empty'],
                                          'fa-star-o':score_popular['name_1'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_1'][2]['full'],
                                          'fa-star-half-o star_filled':score_popular['name_1'][2]['half_empty'],
                                          'fa-star-o':score_popular['name_1'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_1'][3]['full'],
                                          'fa-star-half-o':score_popular['name_1'][3]['half_empty'],
                                          'fa-star-o':score_popular['name_1'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_1'][4]['full'],
                                          'fa-star-half-o':score_popular['name_1'][4]['half_empty'],
                                          'fa-star-o':score_popular['name_1'][4]['empty']}"></span>
        </div>
        <!-- Name 2 -->
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_2'][1]['full'],
                                          'fa-star-half-o':score_popular['name_2'][1]['half_empty'],
                                          'fa-star-o':score_popular['name_2'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_2'][2]['full'],
                                          'fa-star-half-o':score_popular['name_2'][2]['half_empty'],
                                          'fa-star-o':score_popular['name_2'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_2'][3]['full'],
                                          'fa-star-half-o':score_popular['name_2'][3]['half_empty'],
                                          'fa-star-o':score_popular['name_2'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_popular['name_2'][4]['full'],
                                          'fa-star-half-o':score_popular['name_2'][4]['half_empty'],
                                          'fa-star-o':score_popular['name_2'][4]['empty']}"></span>
        </div>
      </div
        <!-- Score classic -->
        <!-- ************* -->
      <div class="row">
        <div class="col-xs-4">
          <label>Klassiek</label>
        </div>
        <!-- Name 1 -->
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_1'][1]['full'],
                                          'fa-star-half-o':score_classic['name_1'][1]['half_empty'],
                                          'fa-star-o':score_classic['name_1'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_1'][2]['full'],
                                          'fa-star-half-o':score_classic['name_1'][2]['half_empty'],
                                          'fa-star-o':score_classic['name_1'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_1'][3]['full'],
                                          'fa-star-half-o':score_classic['name_1'][3]['half_empty'],
                                          'fa-star-o':score_classic['name_1'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_1'][4]['full'],
                                          'fa-star-half-o':score_classic['name_1'][4]['half_empty'],
                                          'fa-star-o':score_classic['name_1'][4]['empty']}"></span>
       </div>
        <!-- Name 2 -->
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_2'][1]['full'],
                                          'fa-star-half-o':score_classic['name_2'][1]['half_empty'],
                                          'fa-star-o':score_classic['name_2'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_2'][2]['full'],
                                          'fa-star-half-o':score_classic['name_2'][2]['half_empty'],
                                          'fa-star-o':score_classic['name_2'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_2'][3]['full'],
                                          'fa-star-half-o':score_classic['name_2'][3]['half_empty'],
                                          'fa-star-o':score_classic['name_2'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_classic['name_2'][4]['full'],
                                          'fa-star-half-o':score_classic['name_2'][4]['half_empty'],
                                          'fa-star-o':score_classic['name_2'][4]['empty']}"></span>
       </div>
      </div>
        <!-- Score vintage -->
        <!-- ************* -->
      <div class="row">
        <div class="col-xs-4">
          <label>Vintage</label>
        </div>
        <!-- Name 1 -->
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_1'][1]['full'],
                                          'fa-star-half-o':score_vintage['name_1'][1]['half_empty'],
                                          'fa-star-o':score_vintage['name_1'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_1'][2]['full'],
                                          'fa-star-half-o':score_vintage['name_1'][2]['half_empty'],
                                          'fa-star-o':score_vintage['name_1'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_1'][3]['full'],
                                          'fa-star-half-o':score_vintage['name_1'][3]['half_empty'],
                                          'fa-star-o':score_vintage['name_1'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_1'][4]['full'],
                                          'fa-star-half-o':score_vintage['name_1'][4]['half_empty'],
                                          'fa-star-o':score_vintage['name_1'][4]['empty']}"></span>
      </div>
        <div class="col-xs-4 stars  text-center">
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_2'][1]['full'],
                                          'fa-star-half-o':score_vintage['name_2'][1]['half_empty'],
                                          'fa-star-o':score_vintage['name_2'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_2'][2]['full'],
                                          'fa-star-half-o':score_vintage['name_2'][2]['half_empty'],
                                          'fa-star-o':score_vintage['name_2'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_2'][3]['full'],
                                          'fa-star-half-o':score_vintage['name_2'][3]['half_empty'],
                                          'fa-star-o':score_vintage['name_2'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_vintage['name_2'][4]['full'],
                                          'fa-star-half-o':score_vintage['name_2'][4]['half_empty'],
                                          'fa-star-o':score_vintage['name_2'][4]['empty']}"></span>
       </div>
      </div>
        <!-- Score trending -->
      <div class="row">  
        <div class="col-xs-4">
          <label>Trending</label>
        </div>
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_1'][1]['full'],
                                          'fa-star-half-o':score_trend['name_1'][1]['half_empty'],
                                          'fa-star-o':score_trend['name_1'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_1'][2]['full'],
                                          'fa-star-half-o':score_trend['name_1'][2]['half_empty'],
                                          'fa-star-o':score_trend['name_1'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_1'][3]['full'],
                                          'fa-star-half-o':score_trend['name_1'][3]['half_empty'],
                                          'fa-star-o':score_trend['name_1'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_1'][4]['full'],
                                          'fa-star-half-o':score_trend['name_1'][4]['half_empty'],
                                          'fa-star-o':score_trend['name_1'][4]['empty']}"></span>
        </div>
        <div class="col-xs-4 stars text-center">
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_2'][1]['full'],
                                          'fa-star-half-o':score_trend['name_2'][1]['half_empty'],
                                          'fa-star-o':score_trend['name_2'][1]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_2'][2]['full'],
                                          'fa-star-half-o':score_trend['name_2'][2]['half_empty'],
                                          'fa-star-o':score_trend['name_2'][2]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_2'][3]['full'],
                                          'fa-star-half-o':score_trend['name_2'][3]['half_empty'],
                                          'fa-star-o':score_trend['name_2'][3]['empty']}"></span>
          <span class="fa" v-bind:class="{'fa-star':score_trend['name_2'][4]['full'],
                                          'fa-star-half-o':score_trend['name_2'][4]['half_empty'],
                                          'fa-star-o':score_trend['name_2'][4]['empty']}"></span>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-4">
          <label>Betekenis</label>
        </div>
        <div class="col-xs-4 text-center">
          {{name_1_meaning}}
        </div>
        <div class="col-xs-4 text-center">
          {{name_2_meaning}}
        </div>
      </div> 
    </div>
    <div class="container" v-bind:class="{'hide':stats_div}">
      <div class="row">
        <div class="col-xs-12">
          <div class="border_top"></div>
        </div>
      </div>
    </div>
    <div class="container" v-bind:class="{'hide':stats_div}">
      <div class="row">  
        <div class="col-xs-12">
          <h3>Trend</h3>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-12 text-center" id="timeseries_graph"></div>
        </div>
    </div>
    <div class="container" v-bind:class="{'hide':stats_div}">
      <div class="row"> 
        <div class="col-xs-12">
          <p style="height:50px;"></p>
        </div>
      </div>
    </div>

    <!-- **************** -->
    <!-- **************** -->
    <!-- **************** -->
    <!-- PAGE SUGGESTIONS -->
    <!-- **************** -->
    <!-- **************** -->
    <!-- **************** -->
    <!-- **************** -->

    <div class="container" v-bind:class="{'hide':active_page['suggest']}">
        <div class="row">
          <div class="col-xs-12">
            <h3>Hoe werkt dit?</h3>
            <p>Er zijn duizenden namen. Deze app probeert voor u de juiste te vinden.</p>
            <p>Hoe meer namen u liked, hoe meer het algoritme je voorkeuren leert kennen. Wees in begin dus niet te picky!</p>
          </div>

        </div>
    </div>
     <div class="container" v-bind:class="{'hide':active_page['suggest']}">
        <div class="row">
          <div class="col-xs-12">
            <div class="border_top"></div>
          </div>
        </div>
    </div>
<!--         <div class="row">
          <div class="col-xs-4 text-center"><label># Letters:</label></div>
        </div> -->
    <div class="container" v-bind:class="{'hide':active_page['suggest']}">
        <div class="row" >
          <div class="col-xs-6">
            <h3>Suggesties:</h3>
            <br>
          </div>
          <div class="col-xs-6 text-right">
            <h3>
              <span v-on:click="suggestion_change_sex_to('F')" 
              v-bind:class="{'k_btn k_btn-default':suggestion_sex['male_selected'],
                        'k_btn k_btn-primary':suggestion_sex['female_selected']}">
                        <i class="fa fa-venus" aria-hidden="true"></i></span>
              <span v-on:click="suggestion_change_sex_to('M')" 
              v-bind:class="{'k_btn k_btn-default':suggestion_sex['female_selected'],
                        'k_btn k_btn-primary':suggestion_sex['male_selected']}">
                        <i class="fa fa-mars" aria-hidden="true"></i></span>
            </h3>
          </div>
        </div>
        <!--       feedback section --> 
        <div class="row" >
          <div class="col-xs-3 text-center">
            <i class="fa fa-thumbs-down fa-3x" onclick="actions_after_vote('no_like')" aria-hidden="true"></i>
          </div>
          <div class="col-xs-6" id="div_sorting_strings" style="position:relative" >
          </div>
          <div class="col-xs-3 text-center">
            <i class="fa fa-thumbs-up fa-3x" onclick="actions_after_vote('like')" aria-hidden="true"></i>
         </div>
        </div>
      </div>

<!--     <div class="container" v-bind:class="{'hide':active_page['list']}">
      <div class="row"> 
        <div class="col-xs-12">
          <h3>Login to save</h3>
          <h3>
            <span v-on:click="open_create_login" class="k_btn k_btn-default">Create login</span>
            <span v-on:click="open_login" class="k_btn k_btn-default">Login</span>
          </h3>
        </div>
      </div> -->
<!--       <div class="row"> 
        <div class="col-xs-12">
          <h3>Create login</h3>
        </div>
        <div class="col-xs-12">
            <div class="form-group">  
              <input class="form-control" id="email" placeholder="Email" v-model="user_login['email']">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">  
              <input class="form-control" id="password" placeholder="Password" v-model="user_login['password']">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">  
              <input class="form-control" id="repeat_password" placeholder="Repeat password" v-model="user_login['repeat_password']">
            </div>
        </div>
      </div> -->
<!--     </div>
    <div class="container" v-bind:class="{'hide':active_page['list']}">
        <div class="row">
          <div class="col-xs-12">
            <div class="border_top"></div>
          </div>
        </div>
    </div> -->
    <div class="container" v-bind:class="{'hide':active_page['list']}">
      <div class="row"> 
        <div class="col-xs-7">
          <h3>Liked names</h3>
        </div>
        <div class="class-xs-5 text-center">
          <h3>
            <span v-on:click="change_sex_liked_names('F')" 
              v-bind:class="{'k_btn k_btn-default':selection_liked_names['male_selected'],
                        'k_btn k_btn-primary':selection_liked_names['female_selected']}">
                        <i class="fa fa-venus" aria-hidden="true"></i></span>
            <span v-on:click="change_sex_liked_names('M')" 
              v-bind:class="{'k_btn k_btn-default':selection_liked_names['female_selected'],
                        'k_btn k_btn-primary':selection_liked_names['male_selected']}">
                        <i class="fa fa-mars" aria-hidden="true"></i></span>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <table style="font-size:120%">
            <tr v-for="item in liked_names_displayed">
              <td style="padding-left:10px;padding-right:10px;padding-top:5px"><i class="fa fa-ban" aria-hidden="true" v-on:click="delete_listed_name(item.name, item.rank)"></i></td>
              <td style="padding-top:5px">{{ item.name }}</td> 
              <td v-on:click="move_rank_up(item.name)" style="padding-left:25px;padding-top:5px"><i class="fa fa-arrow-up" aria-hidden="true"></i></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row"> 
        <div class="col-xs-12">
          <p style="height:25px;"></p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-xs-12">
          <table style="width:100%;font-size:120%">
            <tr>
              <td><button v-on:click="add_name" class="btn btn-default btn-sm">Add</button></td>
              <td><input placeholder="Add a name" v-model="name_to_add" ></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container" v-bind:class="{'hide':active_page['about']}">
      <div class="row"> 
        <div class="col-xs-12">
          <p style="height:50px;"></p>
        </div>
      </div>
    </div>
    <div class="container" v-bind:class="{'hide':active_page['about']}">
      <div id="header" class="row">
        <div class="col-xs-12">
          <h3>About</h3>
          <p>Altough there are many services available for picking a baby name, on a long holiday I decided to build our own. I had in mind that it should be possible to calculate features for each name (time series features, text analysis features and spatial features) and build a recommendation engine on top of them.</p>
          <p>This project demonstrates what I like best, taking an analysis (defining the features and building the model) a step further and build an interactive visualisation around it. By doing so, you can test it out with many examples, using it where ever in the world and send it around to other people.</p>
          <p>For more information or suggestions, feel free to contact me on <a href='kasper.vanlombeek@gmail.com'>kasper.vanlombeek@gmail.com</a></p>
        </div>
      </div>
    </div>

    <!-- jQuery.js -->
    <script   src="javascript/jquery.js"></script>
    
    <!-- bootstrap javascript -->
    <script src="javascript/bootstrap.js"></script>

    <!-- Highstocks.js -->
    <script src="javascript/highstock.js"></script>
    <!-- d3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.js"></script>


    <!-- Own javascript -->
    <script src="javascript/timeseries_graph.js"></script>  
    <script src="javascript/session.js"></script>  
    <script src="javascript/main.js"></script>  
    <script src="javascript/stringer.js"></script>  

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84332075-1', 'auto');
      ga('send', 'pageview');

    </script>




  </body>
</html>
